/* Here is your custom css styles. */
/* *{
    cursor: url("/medias/zhengchang.ico"),auto!important;
}
:active{
    cursor: url("/medias/dianji.ico"),auto!important;
} */
::-webkit-scrollbar-thumb {
    height: 30px;
    background-image: linear-gradient(rgba(173,15,15,0),#7799fa,rgba(173,15,15,0));
    border-radius: 6px;
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: .1;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,0);
    border-radius: 0;
}
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}